  <div class="ui inverted vertical footer segment" style="margin-top: 5em;">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid" style="padding-top: 2em;">
        <div class="three wide column">
          <h4 class="ui inverted header">ลิงก์เว็บไซต์เพื่อนบ้าน</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Link One</a>
            <a href="#" class="item">Link Two</a>
            <a href="#" class="item">Link Three</a>
            <a href="#" class="item">Link Four</a>
          </div>
        </div>
 
        <div class="seven wide column">
          <h4 class="ui inverted header">Rayong.app คืออะไร</h4>
          <p>เป็นเว็บแอพฯ สำหรับการพบปะระหว่างบุคคลทั่วไป สำหรับการสนทนาผ่านระบบออนไลน์บน rayong.app และเป็นสื่อกลางช่วยเหลือ ให้คำแนะนำสังคมชาวจังหวัดระยอง เป้าหมายคือเทคโนโลยีเพื่อการพัฒนาสังคมไทย</p>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <img src="assets/images/logo.png" class="ui centered mini image">
      <div class="ui horizontal inverted small divided link list">
        <a class="item" href="#">Site Map</a>
        <a class="item" href="#">Contact Us</a>
        <a class="item" href="#">Terms and Conditions</a>
        <a class="item" href="#">Privacy Policy</a>
      </div>
    </div>
  </div>