<% flash.each do |message_type, message_content| %>
    <div class="ui message <%= message_type %>" transition >
        <i class="close icon"></i>
        <div class="header">
            <%= message_content %>
        </div>
        <p>เว็บไซต์นี้กำลังอยู่ในช่วงพัฒนา หากมีข้อสงสัยกรุณาติดต่อกระผม samiti3d@gmail.com</p>
    </div>    
<% end %>