  <div class="ui large menu">
    <div class="ui container">
      <a class="item">
        Rayong.app
      </a>
      <a class="active item">
        หน้าแรก
      </a>
      <div class="right menu">
        <div class="ui dropdown item">
          บัญชี <i class="dropdown icon"></i>
          <div class="menu">
            <% if logged_in? %>
              <%= link_to "ออกจากระบบ", logout_path, method: :delete, class: "item" %>
            <% else %>
              <%= link_to "เข้าสู่ระบบ", login_path, class: "item" %>
            <% end %>
          </div>
        </div>
        <div class="item">
            <% if !logged_in? %>
              <%= link_to "ลงชื่อเข้าใช้", login_path, class: "item"%>
            <% end %>
        </div>
      </div>
    </div>
  </div>